<h1>Welcome to Yiddish Proverbs</h1>

<hr />

<h1><%= @proverb.proverb %></h1>
<h1 style="direction: rtl;"><%= @proverb.yiddish %></h1>
<h1><%= @proverb.transliteration %></h1>
<h1>- <%= @proverb.source %></h1>
